@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .hide {
    display: none;
} */

.logo {
    margin: 10px 0;
    height: 100px;
}

.search {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    padding: 5px 5px 5px 15px;
}

.searchIcon {
    position:absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%)
}

/* .select-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
} */

#recettes-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.recipe {
    width: 28%;
    height: auto;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin-bottom: 40px;
    font-size: 12px;
    max-height: 450px;
}

.recipe-img {
    height:200px;
    width:100%;
    background-color: #c7bebe;
    border-radius: 10px 10px 0 0;
}

.divTitleTime {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 5px auto;
    font-size: 16px;
}

.divIngredientsDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    margin: 0 auto;
}

.ingredientList {
    width: 40%;
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.recipeDescription {
    width: 50%;
    height: 170px;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recipe-time {
    font-weight: bold;
}

.ingredients {
    background: #3282F7;
}

.appareils {
    background: #68D9A4;
}

.ustensiles {
    background: #ED6454;
}

.select {
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

option {
    display: flex;
    flex-wrap: wrap;
}

#tags {
    display: flex;
    flex-direction: row;
    width:90%;
    margin: 15px 0 15px 5%;
    max-width: 90%;
}

.tag {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-radius: 3px;
    margin-right: 10px;
    color: white;
}

.tag > p {

    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.blueTag {
    background-color: #3282F7;
}

.redTag {
    background-color: #ED6454;
}

.greenTag {
    background-color: #68D9A4;
}

.closeTag > i {
    font-size:16px;
    margin-left: 5px;
    cursor: pointer;
}